/* Header */
#cv-header .profile-image {
  float: none;
  width: 50%;
  margin: auto;
}

#cv-header .profile-info {
  float: none;
  margin: auto;
}

/* Experience Section */
#experience .role,
#experience .company,
#experience .period:not(.mobile-hidden),
#education .course,
#education .period:not(.mobile-hidden) {
  float: none;
  display: block;
  text-align: center;
}

#experience .company {
  padding-top: 0;
}

#experience .bullets {
  padding-bottom: 0;
  padding-left: 10px;
}

#experience .company-role {
  margin-bottom: 0;
}

/* Education */
#education .sect-text {
  padding: 0;
}

/* Utility Classes */
.sect-text {
  padding: 20px 10px;
  text-align: left;
}

p,
ul li {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 4rem;
}

.lrg-bold {
  font-size: 1.5rem;
}

.lrg-light {
  font-size: 1.5rem;
}

.sect-title {
  font-size: medium;
}

.line-break {
  border-bottom-width: 0.6rem;
  margin: 1.5rem auto;
  width: 5rem;
}
