/* Header */
#cv-header {
  padding: 3rem 2rem;
}

#cv-header .profile-image {
  float: none;
  width: 50%;
  margin: auto;
}

#cv-header .profile-info {
  float: none;
  margin: auto;
  padding: 2rem 0;
}

.profile-phone,
.profile-email {
  display: block;
  margin: auto;
}

/* Experience Section */
#experience .company {
  padding-top: 0;
}

#experience .bullets {
  padding-bottom: 0;
  padding-left: 10px;
}

#experience .company-role {
  margin-bottom: 0;
}

/* Education */
#education .sect-text {
  padding: 0;
}

/* Utility Classes */
.container {
  padding: 0 0.5rem;
}

.sect-text {
  padding: 20px 10px;
  text-align: left;
}

p,
ul li {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 4rem;
}

.lrg-bold {
  font-size: 1.5rem;
}

.lrg-light {
  font-size: 1.5rem;
}

.sect-title {
  font-size: medium;
}

.role,
.company,
.course,
.period {
  float: none !important;
  display: block !important;
  text-align: center !important;
}

.record-break {
  border-bottom-width: 0.6rem;
  margin: 1.5rem auto;
  width: 5rem;
}

/* Show/Hide on mobile */
.period-short,
.dot-break {
  display: none !important;
}
